/*.formControl{*/

/*}*/

.formControl.error input,
.formControl.error textarea{
    border: 1px red solid;
}

.formControl.error span{
   color: red;
}

.formSummeryError{
    border: #ff3300 1px solid;
    padding: 5px;
    color: #ff3300;
}