.nav {
    grid-area: n;
    background-color: #178a8a;
    padding: 30px;
    line-height: 30px;
    border-radius: 15px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: red;
}
